.f-row {
    display: flex;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.s-apart {
    justify-content: space-around;
}

.a-c {
    align-items: center;
}

.j-c {
    justify-content: center;
}

p,
a,
.h {
    font-family:'Poppins', sans-serif;;
}

.h {
   
    font-weight: 700;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}